<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenida</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-r from-blue-200 via-purple-200 to-pink-200"
  >
    <div class="inner text-center px-4">
      <h1
        class="text-4xl sm:text-6xl lg:text-8xl font-semibold mb-10 sm:mb-16 lg:mb-20 text-center"
      >
        Bienvenido!
      </h1>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-3 px-5 sm:py-4 sm:px-6 lg:py-5 lg:px-10 w-full sm:w-auto"
        onclick="window.location.href='/form'"
      >
        Registra tus datos
      </button>
    </div>
  </body>
</html>
